.wrapper {
  display: flex;
  padding: 25px;
  /* background-color: #f3f5f6; */
  background: rgb(151, 144, 151);
  background: linear-gradient(
    90deg,
    rgba(151, 144, 151, 1) 0%,
    rgba(235, 235, 213, 1) 100%
  );
  justify-content: center;
}

.wrapper .wrapperCards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1400px;
}

.contactCard {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1 0 350px;
  margin: 9px;
  min-height: 70px;
  background-color: #eee;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contactCard a {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  width: 100%;
}

.contactCard img {
  margin-right: 15px;
}

@media screen and (min-width: 768) {

}
