.ProjectsWrapper {
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
}

.ProjectsWrapper header {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
