.About {
  padding-top: 120px;
  align-items: center;
  padding-bottom: 0;
}

.About .Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About .Container p {
  text-align: center;
  padding: 5px 10px 5px 10px;
  max-width: 475px;
  font-size: 18px;
}

.About .myPicture {
  height: 450px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .About {
    padding-top: 150px;
  }

  .About .Container p {
    max-width: 650px;
    padding: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .About {
    padding-top: 150px;
    position: relative;
    align-items: start;
    padding-bottom: 50px;
  }

  .About .Container {
    padding-left: 10%;
  }

  .About .Container p {
    padding: 5px;
    text-align: start;
    max-width: 620px;
  }
  .About .myPicture {
    position: absolute;
    right: 5%;
    bottom: 0;
  }
}
