.About {
  min-height: 600px;
  padding-top: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About .Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About .Container h1 {
  font-size: 42px;
}

.About .Container p {
  text-align: center;
  padding: 5px 10px 5px 10px;
  max-width: 475px;
  font-size: 18px;
}

.About .myPicture {
  height: 450px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .About {
    padding-top: 150px;
  }

  .About .Container p {
    max-width: 650px;
    padding: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .About {
    display: block;
    padding-top: 150px;
    position: relative;
  }

  .About .Container {
    display: block;
    position: absolute;
    left: 10%;
  }

  .About .Container p {
    padding: 5px;
    text-align: start;
    max-width: 620px;
  }
  .About .myPicture {
    position: absolute;
    right: 5%;
    bottom: 0;
  }
}
