.NavContainer {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.NavContainer header {
  font-size: 40px;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 15px 0 20px 0;
  opacity: 0.95;
}

.Hamburger {
  position: absolute;
  top: 22px;
  right: 5%;
  cursor: pointer;
}

.NavbarList {
  list-style-type: none;
  padding: 0;
  background-color: #333;
  opacity: 0.95;
  width: 100%;
  margin: 0 auto;
}

.NavbarList a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}

.NavbarList a:hover {
  background-color: #555;
}

.fullScreenNavbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobileNavbar {
    display: none;
  }

  .fullScreenNavbar {
    display: inline;
  }

  /* TODO - הנאובר לא יפה כשהמסך גדול לחשוב על משהו אחר */
  .NavbarList {
    display: block;
    margin: 0 auto;
  }

  .NavbarList {
    display: flex;
    justify-content: space-around;
  }

  .NavbarList li {
    flex-grow: 1;
  }

  .Hamburger {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  /*מקרה קצה של פלאפון ההמבורגר עולה על הכותרת אז הקטהתי והזזתי את הבורגר */

  .NavContainer header {
    font-size: 30px;
  }

  .Hamburger {
    position: absolute;
    top: 16px;
    right: 2%;
  }
}
