* {
  /* font-family: Verdana; */
  font-family: "Exo 2", sans-serif;
  margin: 0;
}

.bgColorOne {
  background: rgb(151, 144, 151);
  background: linear-gradient(
    90deg,
    rgba(151, 144, 151, 1) 0%,
    rgba(235, 235, 213, 1) 100%
  );
}

.fontColorOne,
.fontColorOne h1,
.fontColorOne h2,
.fontColorOne header,
.fontColorOne p {
  color: black;
  filter: drop-shadow(0.05em 0.05em white);
}

.bgColorTwo {
  background: rgb(68, 68, 68);
  background: linear-gradient(
    90deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
}

.fontColorTwo,
.fontColorTwo h1,
.fontColorTwo h2,
.fontColorTwo header,
.fontColorTwo p {
  color: white;
  filter: drop-shadow(0.05em 0.05em black);
}
